doctype html
html
    head
        title #{title}
        link(href='/css/index.css' rel='stylesheet')
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" rel="stylesheet")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-warning.mb-3
            a.navbar-brand(href='/') Musiqa Project
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Bosh Sahifa
                            span.sr-only (current)
                    if user
                        li.nav-item
                            a.nav-link(href='/musics/add/') Musiqa Qo'shish
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='search', placeholder='Qidiruv', aria-label='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Qidirish
                ul.nav.navbar-nav.navbar-right
                    if user
                        li
                            a.nav-link(href='/logout') Tizimdan Chiqish
                    else
                            li
                                a.nav-link(href='/login') Tizimga Kirish
                            li
                                a.nav-link(href='/register') Ro'yahtdan O'tish
        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class='alert alert-danger') #{error.msg}
            block content
            br
            hr
            footer
                p Xizmatlar Litsenziyalangan &copy; 2020

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src="/js/index.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")