extends layout

block content
    h1 #{title}
    form(method="POST", action="/musics/add")
        .form-group
            label Ism:
            input.form-control(name='name', type='text')
        .form-group
            label Bastakor:
            input.form-control(name='singer', type='text')
        .form-group
            label Izoh:
            textarea.form-control(name='comment')
        br
        input.btn.btn-success(type='submit', value='Jo\'nat')
